node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Native folders (use CNG/Prebuild)
android/
ios/

# macOS
.DS_Store

# Firebase admin/credentials (don't commit service account keys)
app/*firebase-adminsdk*.json
